body {
  background: #000;
}
.coder-rage {
  width: 350px;
  padding: 10px;
  background: rgb(240,240,240); /* Old browsers */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(208,208,208,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba(240,240,240,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(135deg,  rgba(240,240,240,1) 0%,rgba(208,208,208,1) 100%); /* W3C */
  border: 1px solid #ccc;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
  .coder-rage h3,
  .coder-rage .url {
    font-family: sans-serif;
  }

.thumbnail {
  background: url('img/loading.gif') no-repeat center center;
  width: 100%;
  height: 100px;
}

.thumbnail img {
  display: none;
  width: 100%;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.thumbnail .url {
  width: 100%;
  background: #fff;
  margin-top: 15px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: text;
  display: none;
}
.thumbnail .url p {
  padding: 5px;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
}

.reload-image {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  height: 22px;
  width: 22px;
  display: none;
}

.tags {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

  .tag {
    margin: 0 10px 10px 0;
    padding: 4px 8px;
    display: inline-block;
    background: rgb(168,31,31); /* Old browsers */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(168,31,31,1)), color-stop(12%,rgba(195,47,2,1)), color-stop(100%,rgba(193,73,40,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(168,31,31,1) 0%,rgba(195,47,2,1) 12%,rgba(193,73,40,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(135deg,  rgba(168,31,31,1) 0%,rgba(195,47,2,1) 12%,rgba(193,73,40,1) 100%); /* W3C */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 12px;
    color: #f58220;
    font-weight: bold;
    cursor: pointer;
  }
  .tag:hover {
    color: #F5A45F;
  }

.link-wrapper {
  width: 370px;
}
.coder-rage-link {
  margin: 10px 0;
  color: #333;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  float: right;
}
  .coder-rage-link:hover {
    text-decoration: underline;
    color: #444;
  }